<h1> Your Restaurant has been successfully Deleted</h1>
<h1>Want to?</h1>

<button class="btn-default"><a href="/owner/signUp/afterSignup">Home</a></button> <button class="btn-default"><a href="/logout">Logout</a></button>