<div class="row">
<!--div class="col-lg-12" style="background-image: url(http://tonicwest.com/images/tonic_food08.jpg); opacity:0.8; background-repeat: no-repeat;
background-size: cover;"-->
<!--image src="http://tonicwest.com/images/tonic_food08.jpg" width="100%" opacity=0.3>
</image-->

<div class="col-lg-6" style="background-image: url(http://tonicwest.com/images/tonic_food08.jpg); opacity:0.8; background-repeat: no-repeat;
background-size: cover; height:'500px';" >

<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br>
<br>
<br>
<br>

</div>

<div class="col-lg-6">
<h1 class="text-center"> Bites N Nites </h1>
<br>
<div class="panel panel-primary" style="opacity:0.8;">
<div class="panel-heading"><strong>
Already Have an Account? Log In....</strong>
</div>
<div class="panel-body">
<form method ='post'>
<div class='form-group'>
<label for='inputUserName'>
User Name:
</label>
<input class="form-control" type="text" name="userName" placeholder="Enter User Name" id="userName" value="{{userName}}" pattern = "^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$" title="Provide a username with the use of letters, numbers and special characters like _ or - or ." required>
</div>

<div class='form-group'>
<label for='passwordInput'>
Password
</label>
<input type="password" class="form-control" name="userPassword" id="userPassword" placeholder="Enter Password" value="{{userPassword}}" pattern = "^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" title="There should an UpperCase, LowerCase and a number" value="{{userPassword}}" required>
</div>

<button type="submit" class="btn btn-primary">Login</button>
<br>

<label for='ownerLogin'>
Already an Owner?
</label>
<!--button class="btn btn-default" --><a href="/ownerLogin" >Log In</a><!--/button-->
<br>

<label for='signUp'>
Not a Member yet?
</label>
<!--button class="btn btn-default" --><a href="/signUp" >Sign Up</a><!--/button-->
<br>
<label for='ownerSignUp'>
Want to be a new Owner?
</label>
<!--button class="btn btn-default" --> <a href="/owner/signUp" > Owner ?</a><!--/button-->
<!--/div-->
</div><!--ending panel class-->
<br>
<br>
<!-- for sign up and owners-->


</form>
</div>
</div><!--ending row class-->

<form method ='post'>
<br>
<br>

{{#if error }}
<div class="form-group">
<div class="alert alert-danger">
{{ error }}
</div>
</div>
{{/if}}
</form>